# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### devenv ###
.devenv

### direnv ###
.direnv

### gleam ###
*.beam
*.ez
/build
erl_crash.dump

### nix ###
result

### pre-commit ###
.pre-commit-config.yaml

# End of https://www.toptal.com/developers/gitignore/api/direnv
